<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pacientes</title>
</head>
<body>
  <header>
    <nav>
      <h1>Gestión de Pacientes</h1>
      <img src="../../assets/DigitalHouse_Logo_White.png" alt="logoDH">
    </nav>
  </header>
  <div class="container">
    <button class="btn btn-sm btn-success mb-2" (click)="abrirFormularioCrear()">Crear Paciente</button>
    <div *ngIf="mostrarFormularioCrear">
      <form (submit)="crearPaciente()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevoPaciente.nombre" name="nombre" required>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="nuevoPaciente.apellido" name="apellido" required>
        <label for="dni">Dni:</label>
        <input type="text" id="dni" [(ngModel)]="nuevoPaciente.dni" name="dni" required>
        <br/>
        <label for="domicilio">Domicilio:</label>
        <br/>
        <label for="calle">Calle:</label>
        <input type="text" id="calle" [(ngModel)]="nuevoPaciente.domicilio.calle" name="calle" required>
        <label for="numero">Número:</label>
        <input type="text" id="numero" [(ngModel)]="nuevoPaciente.domicilio.numero" name="numero" required>
        <label for="localidad">Localidad:</label>
        <input type="text" id="localidad" [(ngModel)]="nuevoPaciente.domicilio.localidad" name="localidad" required>
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" [(ngModel)]="nuevoPaciente.domicilio.provincia" name="provincia" required>
        <button type="submit" class="btn btn-primary m-2">Enviar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrarFormularioCrear()">Cancelar</button>
      </form>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dni</th>
          <th>Domicilio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes; let i = index">
          <ng-container *ngIf="pacienteEnEdicionIndex !==i; else editarPaciente">
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.dni }}</td>
            <td>{{ "Calle " + paciente.domicilio.calle + " #" + paciente.domicilio.numero + " " + paciente.domicilio.localidad + " " + paciente.domicilio.provincia }}</td>
            <td>
              <button class="btn btn-sm btn-primary m-2" (click)="editar(i)">Editar</button>
              <button class="btn btn-sm btn-danger" (click)="eliminarPaciente(paciente.dni)">Eliminar</button>
            </td>
          </ng-container>
          <ng-template #editarPaciente>
            <td>
              <input type="text" [(ngModel)]="pacientes[i].nombre" name="nombre" required>
            </td>
            <td>
              <input type="text" [(ngModel)]="pacientes[i].apellido" name="apellido" required>
            </td>
            <td>
              <input type="text" [(ngModel)]="pacientes[i].dni" name="dni" required>
            </td>
            <td>
              <input type="text" [(ngModel)]="pacientes[i].domicilio.calle" name="calle" required>
              <input type="text" [(ngModel)]="pacientes[i].domicilio.numero" name="numero" required>
              <input type="text" [(ngModel)]="pacientes[i].domicilio.localidad" name="localidad" required>
              <input type="text" [(ngModel)]="pacientes[i].domicilio.provincia" name="provincia" required>
            </td>
            <td>
              <button class="btn btn-sm btn-success m-2" (click)="guardarEdicion(i)">Guardar</button>
              <button class="btn btn-sm btn-secondary" (click)="cancelarEdicion(i)">Cancelar</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>

