<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>
    <nav>
      <h1>Sistema de reserva de citas odontológicas</h1>
      <img src="../../assets/DigitalHouse_Logo_White.png" alt="logoDH">
    </nav>
  </header>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-header">
        <h2>Sistema de Reserva de Odontología</h2>
      </div>
      <div>
        <label for="email">Email: </label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Ingrese su email">
      </div>
      <div>
        <label for="password">Contraseña: </label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese su contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
  </div>
</body>
</html>


